.App {
  margin: 10px;
  text-align: center;
}
.RecipeItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  text-align: left;
  height: 40px;
  margin: 5px auto;
  background-color: lightskyblue;
}

.RecipeTitle {
  font-weight: bold;
  font-size: 22px;
  color: white;
  margin-left: 15px;
}

.ToggleMore {
  font-weight: bold;
  font-size: 22px;
  color: white;
  margin-right: 15px;
  transform: rotate(-90deg);
  height: 100%;
  transition: transform .5 ease-in;
}

.toggleOn {
  transform: rotate(90deg);
}

.IngridientBox {
  padding-left: 30px;
  text-align: left;
  line-height: 10px;
}

.hidden {
  display: none;
}